          <h3>
            Bitte füllen Sie das Online-Formular aus. Zusätzlich müssen Sie das Formular ausdrucken und unterschreiben. 
          </h3>
          <br />
<form class="well form-horizontal" name="data" action="/validate" method="post" enctype="multipart/form-data" onsubmit="return !validate()">
          <h3>Doshisha University - Center for Japanese Language and Culture Foreign Exchange Student Information Sheet</h3>
          <fieldset>
            <legend>Personalia</legend>
              <div class="control-group">
              <label>氏名 Full name(in Roman Letters)</label>
              <input type="text" class="input-small" placeholder="Last" name="Last Name" maxlength="15"/>
              <input type="text" class="input-small" placeholder="First" name="First Name" maxlength="10"/>
              </div>
              <input type="text" class="input-small" placeholder="Middle" name="Middle Name" maxlength="10"/>

              <div class="control-group">
              <label>よみかた Name in Katakana</label>
              <input type="text" name="Katakana" maxlength="35"/>
              </div>
            
              <div class="control-group">
              <label>国籍 Nationality</label>
              <input type="text" class="input-small" placeholder="German" name="Nationality" maxlength="10"/>
              <label>出生月日 Date of birth</label>
              <input type="text" name="DateOfBirth" id="dateField1" placeholder="yyyy-mm-dd" onchange="checkDate('dateField1')"/>
              </div>
            
              <div class="control-group">
              <label for="Geschlecht">性別 Gender</label>
              <select name="Geschlecht" class="input-small">
                <option value="Ja">男 Male</option>
                <option value="Nein">女 Female</option>
              </select>
              </div>
              <div class="control-group">
              <label for="Marriage">婚姻の有無 Marital Status</label>
              <select name="Marriage" class="input-small">
                <option value="Nein">無 Single</option>
                <option value="Ja">有 Married</option>
              </select>
              </div>
            
              <div class="control-group">
              <label>出生地 Place of birth</label>
              <input type="text" class="input-small" name="PlaceOfBirth" maxlength="40"/>
              </div>

            <legend>Contact</legend>
              <h4>本籍 Permanent Adress</h4>
              <div class="control-group">
              
              <label>Postal Code</label><input type="number" class="input-small" name="PostalCode" maxlength="40"/>
              <label>City</label><input type="text" class="input-small" name="City" maxlength="40"/>
              <label>Adress</label><input type="text" name="Adress" maxlength="40"/>
              </div>
              <label>c/o</label><input type="text" name="co" maxlength="40"/>
              <br />
              <h4>現住地 Present Adress</h4>
              <div class="control-group">
              <label>Postal Code</label><input type="number" class="input-small" name="PostalCode2" maxlength="40"/>
              <label>City</label><input type="text" class="input-small" name="City2" maxlength="40"/>
              <br />
              <label>Adress</label><input type="text" name="Adress2" maxlength="40"/>
              </div>
              <label>c/o</label><input type="text" name="co2" maxlength="40"/>
            
              <div class="control-group">
              <label>Email</label><input type="email" class="input-small" name="Email" maxlength="40"/>
              </div>
              <div class="control-group">
              <label>電話 Phone</label><input type="number" class="input-small" name="Phone" maxlength="12"/>
              </div>

            <legend>Other</legend>
            <!--
              <div class="control-group">
              <label>Date of arrival in Japan</label>
              <input type="date" name="DateOfArrival"/>
            </div> -->

              <div class="control-group">
              <label>在学予定期間 Intended period of study at Doshisha University</label>
              <input type="number" name="IntendedPeriod" class="input-mini"/>
              <span class="help-inline">months</span>
              </div>
              
              <div class="control-group">
              <label>旅券番号 Passport number</label>
              <input type="text" name="PassportNumber"/>
              </div>
              <div class="control-group">
              <label>有効期間 Date of expiration</label>
              <input type="text" name="Expiration" id="dateField2" placeholder="yyyy-mm-dd" onchange="checkDate('dateField2')"/>
              </div>
              <div class="control-group">
              <label>査証申請予定地 Place to apply for visa</label>
              <input type="text" class="input-small" name="ApplicationPlace"/>
              </div>
              <div class="control-group">
              <label>上陸予定港 Port of entry</label>
              <input type="text" class="input-small" name="EntryPort"/>
              </div>
              <br /> 
              <div class="control-group">
                過去の出入国歴 
                Previous visit(s) to Japan<br />
                <label class="radio inline">有 Yes</label>
                <input type="radio" name="Last Visit" value="Ja" onclick="previousVisit(true)"/>
                <label class="radio inline">無 No</label>
                <input type="radio" name="Last Visit" value="Nein" checked="yes" onclick="previousVisit(false)"/>
                <div id="PreviousVisit"></div>
              </div>

              <div class="control-group">
                犯罪を理由とする処分を受けたことの有無 
                Criminal record<br />
                <label class="radio inline">有 Yes</label>
                <input type="radio" name="criminalRecord" value="Ja" onclick="criminalR(true)"/>
                <label class="radio inline">無 No</label>
                <input type="radio" name="criminalRecord" value="Nein" checked="yes" onclick="criminalR(false)"/>
                <div id="CriminalR"></div>
              </div>
            
            <legend>学歴 Educational background</legend>
              <div class="control-group">
              <label>大学名 Name of current university</label>
              <input type="text" name="University" placeholder="Eberhard Karls University Tuebingen"/>
              </div>
              <div class="control-group">
              <label>入学年月日 Date of enrollment</label>
              <input type="text" name="DateOfEnrollment" id="dateField3" placeholder="yyyy-mm-dd" onchange="checkDate('dateField3')"/>
              </div>
              <div class="control-group">
              <label>卒業予定年月日 Expected date of graduation</label>
              <input type="text" name="DateOfGraduation" id="dateField4" placeholder="yyyy-mm-dd" onchange="checkDate('dateField4')"/>
              </div>
              <div class="control-group">
              <label>専攻 Major</label>
              <input type="text" name="Major" placeholder="Japanese Studies"/>
              </div>
              <div class="control-group">
              <label>副専攻 Minor(s) (if any)</label>
              <input type="text" name="Minor" placeholder="minor1,minor2"/>
              </div>
              <div class="control-group">
              <label>修学年数 Total years of education (from elementary school to current institution)</label>
              <input type="number" name="YearsOfEdu" class="input-mini" placeholder="13"/>
              <span class="help-inline">years</span>
              </div>

              <label class="checkbox">
              <input type="checkbox" id="rel" onclick="addRelatives()"/>
              在日親族 
              Family living in Japan
              </label>

          </fieldset>
              <input type="submit" class="btn btn-primary" value="submit" id="submit"/>

          </form>
