<h3>
  Bitte prüfen Sie, ob Ihre Unterlagen vollständig sind:
</h3>
<ul>
  <li>Tübingen Information Sheet</li>
  <li>Merkblatt</li>
  <li>Finanzerklärung</li>
  <li>Gesundheitserklärung</li>
  <li>Biographic Information</li>
  <li>Selfintroduction</li>
  <li>Kopie des Reisepasses: 4 Passfotos (3 Photos: 4x3; 1 Photo: 3x2,4;) mit Namen auf der Rückseite</li>
</ul>
<button>Diese Seite ausdrucken!</button>
