
  <p class="">
  Liebe Studierende,<br />

  auf den folgenden Seiten finden Sie die Formulare, die Sie für die Kyoto-Anmeldung abgeben müssen.

  Teilweise können Sie die Formulare schon online ausfüllen, teilweise müssen Sie sie ausdrucken und per Hand ausfüllen.

     

  Bitte geben Sie die vollständig ausgefüllten und unterschriebenen Formulare bis zum 24. Oktober 2012 zu meinen Händen ab.<br />
<br />
     

  Ganbatte kudasai
  <br/>
  <br />

    M. Ebi<br /> 
    martina.ebi[at]uni-tuebingen.de<br /> 
    Tel.: 07071- 29-73987
  </p>

  <a class="btn btn-primary" href="<%= url '/download' %>">Hier geht es weiter!</a>
